h2{
    font-size: 34px;
    font-weight: normal;
    color: #130f40;
}
.shop-container{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}