.cart-comp{
    position: sticky;
    top: 20px;
}
h2{
    font-size: 30px;
    font-weight: 400;
    color: #130f40;
    margin-bottom: 30px;
}
.selected-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.selected-items img{
    width: 40px;
    height: 40px;;
}
.btn-choose{
    width: 80%;
    margin: 0 auto;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #130f40;
    color: #130f40;
    background: #f4fbfc;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}